@Model AboutModel
@{
    ViewData["Title"] = "About";
}

<h1>About. //TODO form</h1>
@* 
<form method="post" asp-controller="AboutModel" asp-action="Check">
    <label for="Description">About</label>
    <input asp-for="Description" class="form-control" id="Description" />
    <span for="Description" class="text-danger">lekndl;k</span>

    <input type="Submit" value="Send" class="btn btn-primary">
</form> 
*@